* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
footer,
section,
aside,
nav,
main,
article,
figure {
  display: block;
}

html,
body {
  line-height: 1.42857143;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}

.ford-btnBlue {
  background: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 20px !important;
  border-radius: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #555;
  font-size: 16px;
  font-weight: normal;
}

.ford-btnBlue:hover {
  background-color: #fff;
  color: #102b4e;
  border-color: #102b4e;
}

.ford-btnRed {
  background: #d92e14;
  border: 1px solid #d92e14;
  padding: 15px 20px !important;
  border-radius: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.ford-btnRed:hover {
  background-color: #fff;
  color: #d92e14;
  border-color: #d92e14;
}

.ford-btnCircleRightArrow-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(6, 120, 188, 0.9);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.ford-btnCircleRightArrow-small:hover {
  background-color: #fff;
}

.ford-btnCircleRightArrow-small:hover::after {
  color: rgba(6, 120, 188, 0.9);
}

.ford-btnCircleRightArrow-small::after {
  content: "\f105";
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
}

.ford-btnCircleRightArrow-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(6, 120, 188, 0.9);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.ford-btnCircleRightArrow-large:hover {
  background-color: #fff;
}

.ford-btnCircleRightArrow-large:hover::after {
  color: rgba(6, 120, 188, 0.9);
}

.ford-btnCircleRightArrow-large::after {
  content: "\f105";
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
}

.bg-white {
  background-color: #fff;
}

.bg-light-grey {
  background-color: #f7f7f7;
}

.bg-blue {
  background-color: #092a46;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 0 45px;
}

.header-top a {
  text-decoration: none;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left .item-text {
  color: #102b4e;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}

.header-left img {
  width: 50px;
  padding-bottom: 5px;
}

.header-left .bronco {
  border-right: 1px solid #a7a7a7;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right .item-text {
  color: #2861a4;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}

.header-right img {
  width: 25px;
  padding-bottom: 5px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 45px;
}

.navbar a {
  text-decoration: none;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left .item-text {
  color: #0276b3;
  font-size: 14px;
  font-weight: 500;
  padding: 0 5px;
}

.nav-left img {
  width: 100px;
  padding: 0 20px 5px 0;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-right .item-text {
  color: #0276b3;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}

.nav-right img {
  width: 25px;
  padding-bottom: 5px;
}

.whatHappening [class*="col-"] {
  padding: 0;
}

.whatHappening .row {
  margin: 0;
}

.whatHappening .contentBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.whatHappening .contentBox img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.whatHappening .contentBox .bottomBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(6, 120, 188, 0.9);
  padding: 3%;
}

.whatHappening .contentBox .bottomBox p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatHappening .contentBox .bottomBox .big {
  color: #fff;
  font-size: 21px;
  font-weight: normal;
}

.whatHappening .contentBox:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.whatHappening h2 {
  margin: 30px 0;
  color: #333;
  font-size: 2.75rem;
  font-weight: 500;
}

.whatHappening p {
  margin-top: -15px;
  color: #626466;
  font-size: 16px;
  font-weight: bold;
}

.whatHappening .navbar {
  padding: 0;
}

.whatHappening .navbar-expand-md {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: inherit;
          flex-flow: inherit;
}

.whatHappening img {
  width: 100%;
  display: block;
}

.whatHappening #btnWhapHappening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  padding: 15px 0;
  background-color: #0276b3;
  border-radius: 0;
}

.whatHappening #btnWhapHappening:hover {
  cursor: pointer;
}

.whatHappening #btnWhapHappening .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .whatHappening .contentBox .bottomBox {
    padding: 5%;
  }
  .whatHappening .contentBox .bottomBox p {
    font-size: 1.6rem;
  }
  .whatHappening .contentBox .bottomBox p .ford-btnCircleRightArrow-small {
    width: 40px;
    height: 40px;
  }
  .whatHappening .contentBox .bottomBox p .ford-btnCircleRightArrow-small::after {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */