* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
footer,
section,
aside,
nav,
main,
article,
figure {
  display: block;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857143;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  color: #333;
  font-size: 10px;
  font-weight: normal;
}

.ford-btnBlue {
  background: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 20px !important;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.ford-btnBlue:hover {
  background-color: #fff;
  color: #102b4e;
  border-color: #102b4e;
  text-decoration: none;
}

.ford-btnRed {
  background: #d92e14;
  border: 1px solid #d92e14;
  padding: 15px 20px !important;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.ford-btnRed:hover {
  background-color: #fff;
  color: #d92e14;
  border-color: #d92e14;
  text-decoration: none;
}

.ford-btnCircleRightArrow-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(6, 120, 188, 0.9);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.ford-btnCircleRightArrow-small:hover {
  background-color: #fff;
}

.ford-btnCircleRightArrow-small:hover::after {
  color: rgba(6, 120, 188, 0.9);
}

.ford-btnCircleRightArrow-small::after {
  content: "\f105";
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
}

.ford-btnCircleRightArrow-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(6, 120, 188, 0.9);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.ford-btnCircleRightArrow-large:hover {
  background-color: #fff;
}

.ford-btnCircleRightArrow-large:hover::after {
  color: rgba(6, 120, 188, 0.9);
}

.ford-btnCircleRightArrow-large::after {
  content: "\f105";
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
}

.bg-white {
  background-color: #fff;
}

.bg-light-grey {
  background-color: #f7f7f7;
}

.bg-blue {
  background-color: #092a46;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 0 35px;
}

.header-top a {
  text-decoration: none;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left .item-text {
  color: #102b4e;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}

.header-left .item-text:hover {
  color: #2861a4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-left img {
  width: 50px;
  padding-bottom: 5px;
}

.header-left .ford-use {
  border-left: 1px solid #a7a7a7;
}

.header-left .bronco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right .item-text {
  color: #2861a4;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}

.header-right img {
  width: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 35px;
  background-color: white;
}

.header-nav a {
  text-decoration: none;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left .item-text {
  color: #0276b3;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}

.nav-left .item-text:hover {
  color: #102b4e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo img {
  width: 125px;
  padding: 0 40px 5px 0;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.nav-right .item-text {
  color: #0276b3;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}

.nav-right .item-text:hover {
  color: #102b4e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-right .account-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right img {
  width: 25px;
}

.menu {
  text-align: right;
}

.menu .menu-icon {
  text-align: right;
  border: none;
  background-color: white;
}

.menu .menu-icon i {
  color: #102b4e;
  font-size: 30px;
}

.menu .menu-icon p {
  color: #333;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  .header-nav .account {
    display: none;
  }
  .nav-left .item-text {
    padding: 0 5px;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    width: 50%;
  }
  .header-top {
    display: none;
  }
  .header-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-left {
    display: none;
    width: 100%;
    text-align: left;
  }
  .nav-left .item-text {
    position: relative;
    width: 100%;
    display: block;
    padding: 1rem 0;
  }
  .nav-left .item-text::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 0;
    position: absolute;
  }
  .menu {
    width: 50%;
  }
  .menu .menu-icon .fa-times {
    display: none;
  }
  .menu .menu-icon.expanded .fa-times {
    display: block;
  }
  .menu .menu-icon.expanded p {
    display: none;
  }
  .menu .menu-icon.expanded .fa-bars {
    display: none;
  }
  .nav-right {
    display: none;
    width: 100%;
    text-align: left;
  }
  .nav-right .account {
    display: block;
  }
  .nav-right .item-text {
    position: relative;
    width: 100%;
    display: block;
    padding: 1rem 0;
    font-size: 14px;
  }
  .nav-right .item-text::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 0;
    position: absolute;
  }
}

.myCarousel {
  padding-top: 116px;
}

.myCarousel .slide-first {
  position: relative;
}

.myCarousel .slide-first .carousel-info {
  position: absolute;
  left: 0;
  top: 0;
}

.myCarousel .slide-first .carousel-info h1 {
  color: #fff;
  font-size: 42px;
  font-weight: normal;
  padding: 30px 40px;
  letter-spacing: 1px;
}

.myCarousel .slide-first .carousel-info p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 0 40px;
}

.myCarousel .fa-angle-left, .myCarousel .fa-angle-right {
  color: #fff;
  font-size: 60px;
}

.myCarousel .carousel-indicators li {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.somethingForEveryone {
  padding-top: 20px;
  text-align: center;
}

.somethingForEveryone h1 {
  color: #333;
  font-size: 42px;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.somethingForEveryone p {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}

.somethingForEveryone button {
  background: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 70px !important;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-top: 30px;
}

.somethingForEveryone button:hover {
  background-color: #fff;
  color: #0276b3;
  border-color: #0276b3;
  text-decoration: none;
}

.somethingForEveryone img {
  width: 100%;
}

.finishStrong {
  padding: 70px 110px;
  text-align: center;
}

.finishStrong h1 {
  color: #333;
  font-size: 42px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.finishStrong p {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 20px 200px;
}

.finishStrong img {
  width: 100%;
}

.whatHappening [class*="col-"] {
  padding: 0;
}

.whatHappening .row {
  margin: 0;
}

.whatHappening .contentBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.whatHappening .contentBox img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.whatHappening .contentBox .bottomBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(6, 120, 188, 0.9);
  padding: 3%;
}

.whatHappening .contentBox .bottomBox p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatHappening .contentBox .bottomBox .big {
  color: #fff;
  font-size: 21px;
  font-weight: normal;
}

.whatHappening .contentBox:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.whatHappening h2 {
  margin: 30px 0;
  color: #333;
  font-size: 2.75rem;
  font-weight: 500;
}

.whatHappening p {
  margin-top: -15px;
  color: #626466;
  font-size: 16px;
  font-weight: bold;
}

.whatHappening .navbar {
  padding: 0;
}

.whatHappening .navbar-expand-md {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: inherit;
          flex-flow: inherit;
}

.whatHappening img {
  width: 100%;
  display: block;
}

.whatHappening #btnWhapHappening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  padding: 15px 0;
  background-color: #0276b3;
  border-radius: 0;
}

.whatHappening #btnWhapHappening:hover {
  cursor: pointer;
}

.whatHappening #btnWhapHappening .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .whatHappening .contentBox .bottomBox {
    padding: 5%;
  }
  .whatHappening .contentBox .bottomBox p {
    font-size: 1.6rem;
  }
  .whatHappening .contentBox .bottomBox p .ford-btnCircleRightArrow-small {
    width: 40px;
    height: 40px;
  }
  .whatHappening .contentBox .bottomBox p .ford-btnCircleRightArrow-small::after {
    font-size: 24px;
  }
}

.airbagRecalls .contentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.airbagRecalls .contentBox h1 {
  color: #d92e14;
  font-size: 42px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.airbagRecalls .contentBox a {
  width: 270px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .airbagRecalls .contentBox h1 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .airbagRecalls .contentBox h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .airbagRecalls .contentBox h1 {
    font-size: 24px;
  }
}

.disclosure {
  padding: 0;
}

.disclosure .collapsing {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.disclosure .btnDisclosure {
  padding: 30px 20px;
  display: block;
}

.disclosure .btnDisclosure:hover {
  text-decoration: none;
}

.disclosure .btnDisclosure p {
  text-transform: uppercase;
  margin: 0;
  color: #0276b3;
  font-size: 1.4rem;
  font-weight: 300;
}

.disclosure .btnDisclosure p::after {
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  font-weight: 900;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.disclosure .btnDisclosure.collapsed p::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.disclosure .disclosure__content {
  max-height: 240px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.disclosure .disclosure__content::-webkit-scrollbar {
  width: 10px;
}

.disclosure .disclosure__content::-webkit-scrollbar-track {
  background: #a7a7a7;
}

.disclosure .disclosure__content::-webkit-scrollbar-thumb {
  background: #0276b3;
}

.disclosure .disclosure__content::-webkit-scrollbar-thumb:hover {
  background: #0276b3;
}

.disclosure .disclosure__content ol.myListGroup {
  list-style-position: inside;
  margin: 0;
  padding: 40px 45px;
}

.disclosure .disclosure__content li.myListGroupItem:first-child {
  list-style-type: none;
}

.disclosure .disclosure__content li.myListGroupItem {
  text-align: justify;
}

.disclosure .disclosure__content li.myListGroupItem p {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

.disclosure .disclosure__footer {
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .disclosure .disclosure__content ol.myListGroup {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .disclosure .disclosure__content ol.myListGroup {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .disclosure .disclosure__content ol.myListGroup {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.califoniaResidents .container-fluid {
  padding: 2rem 0;
}

.califoniaResidents h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
}

.califoniaResidents p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-left: 1rem;
  margin-right: 1rem;
}

.califoniaResidents p a {
  color: #37a9e8;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .califoniaResidents h1 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .califoniaResidents h1 {
    font-size: 30px;
  }
  .califoniaResidents p {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=main.css.map */