* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer,
section,
aside,
nav,
main,
article,
figure {
  display: block;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857143;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  color: #333;
  font-size: 10px;
  font-weight: normal;
}

.ford-btnBlue {
  background: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 20px !important;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.ford-btnBlue:hover {
  background-color: #fff;
  color: #102b4e;
  border-color: #102b4e;
  text-decoration: none;
}

.ford-btnRed {
  background: #d92e14;
  border: 1px solid #d92e14;
  padding: 15px 20px !important;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.ford-btnRed:hover {
  background-color: #fff;
  color: #d92e14;
  border-color: #d92e14;
  text-decoration: none;
}

.ford-btnCircleRightArrow-small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(6, 120, 188, 0.9);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.ford-btnCircleRightArrow-small:hover {
  background-color: #fff;
}

.ford-btnCircleRightArrow-small:hover::after {
  color: rgba(6, 120, 188, 0.9);
}

.ford-btnCircleRightArrow-small::after {
  content: "\f105";
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
}

.ford-btnCircleRightArrow-large {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(6, 120, 188, 0.9);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.ford-btnCircleRightArrow-large:hover {
  background-color: #fff;
}

.ford-btnCircleRightArrow-large:hover::after {
  color: rgba(6, 120, 188, 0.9);
}

.ford-btnCircleRightArrow-large::after {
  content: "\f105";
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
}

.bg-white {
  background-color: #fff;
}

.bg-light-grey {
  background-color: #f7f7f7;
}

.bg-blue {
  background-color: #092a46;
}

.icon-hybrid {
  background-image: url("/img/icon_hybrid.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.icon-plug-in-hybrid {
  background-image: url("/img/plug_in_hybrid.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.icon-all-electric {
  background-image: url("/img/icon_all_electric.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

header {
  box-shadow: 0 8px 4px -4px #00000033;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-top {
  display: flex;
  background-color: #f3f3f3;
  padding: 0 35px;
}

.header-top a {
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.header-left .item-text {
  color: #102b4e;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}

.header-left .item-text:hover {
  color: #2861a4;
  transition: 0.5s;
}

.header-left img {
  width: 50px;
  padding-bottom: 5px;
}

.header-left .ford-use {
  border-left: 1px solid #d6d5d5;
}

.header-left .bronco {
  display: flex;
  align-items: center;
}

.header-left .mustang {
  border-right: 1px solid #d6d5d5;
}

.header-left .vehicles {
  display: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right .item-text {
  color: #2861a4;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}

.header-right i {
  color: #102b4e;
  font-size: 21px;
}

.header-right:hover i {
  color: #2861a4;
  transition: 0.5s;
}

.header-nav {
  display: flex;
  padding: 0 35px;
  background-color: white;
}

.header-nav a {
  text-decoration: none;
}

.logo img {
  width: 125px;
  padding: 0 40px 5px 0;
}

.ford-navbar {
  display: flex;
  justify-content: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .item-text {
  color: #0276b3;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}

.nav-left .item-text:hover {
  color: #102b4e;
  transition: 0.5s;
}

.nav-left .vehicles {
  display: none;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 0;
}

.nav-right .item-text {
  color: #0276b3;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
}

.nav-right .item-text:hover {
  color: #102b4e;
  transition: 0.5s;
}

.nav-right .account-icon {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 25px;
}

.nav-right .dealership {
  display: none;
}

.nav-right .dealership .item-dealership {
  color: #0276b3;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}

.nav-right .dealership i {
  color: #0276b3;
  font-size: 21px;
}

.nav-right .header-nav-submenu {
  display: none;
}

.menu {
  text-align: right;
}

.menu .menu-icon {
  text-align: center;
  border: none;
  background-color: white;
}

.menu .menu-icon i {
  color: #102b4e;
  font-size: 30px;
}

.menu .menu-icon p {
  color: #333;
  font-size: 12px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .header-nav .account {
    display: none;
  }
  .nav-left .item-text {
    padding: 0 5px;
  }
}

header .collapsing {
  transition: all 0.2s;
}

header .nav-left .list-product {
  padding-top: 10px;
}

header .nav-left .submenu-content {
  max-height: calc(100vh - 126px);
  overflow: auto;
}

header .nav-left .item-product {
  padding-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

header .nav-left .item-product p {
  margin-bottom: 5px;
}

header .nav-left .item-product p.highlight {
  position: absolute;
  top: 0;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
}

header .nav-left .item-product p.highlight span[class*="icon-"] {
  margin-right: 5px;
}

header .nav-left .item-product p.name a {
  color: #102b4e;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

header .nav-left .item-product p.name a:hover::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 5px;
}

header .nav-left .item-product p.price {
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
}

header .nav-left .item-product p.price sup {
  padding-left: 5px;
}

header .nav-left .item-product [class*="other"] {
  color: #0276b3;
  font-size: 14px;
  font-weight: normal;
}

header .nav-left .item-product [class*="other"] a {
  display: inline-block;
}

header .nav-left .item-product [class*="other"] a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #0276b3;
  opacity: 0.5;
}

header .nav-left .ford-btnBlue {
  border-radius: 20px;
  margin: 15px;
  padding: 10px 20px !important;
  font-size: 12px;
  min-width: 186px;
}

header .nav-right .item-link {
  display: block;
  display: flex;
  position: relative;
  width: 100%;
  padding: 1.5rem 35px;
  font-size: 14px;
  color: #0276b3;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

header .nav-right .item-link::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 35px;
  position: absolute;
}

@media screen and (min-width: 992px) {
  header a.item-text:not(.item-link) {
    display: inline-block;
    line-height: 25px;
  }
  header .nav-left {
    position: static;
  }
  header .nav-left .submenu-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  header .nav-left .submenu-content::before {
    content: "";
    position: fixed;
    top: 116px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
  header .nav-left [class*="col"]:not(.submenu-content) {
    position: static;
  }
  header .nav-left .all-vehicles a[aria-expanded="true"],
  header .nav-right a[aria-expanded="true"] {
    position: relative;
    line-height: 25px;
  }
  header .nav-left .all-vehicles a[aria-expanded="true"]::after,
  header .nav-right a[aria-expanded="true"]::after {
    content: "";
    display: block;
    position: absolute;
    top: 150%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #0276b3;
  }
  header .nav-right .submenu-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    max-height: calc(100vh - 126px);
  }
  header .nav-right .submenu-content::before {
    content: "";
    position: fixed;
    top: 116px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
  header .ford-navbar {
    position: static;
  }
  header .nav-left,
  header .nav-right,
  header .normal-menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  header a[aria-expanded="true"] {
    background-color: #102b4e;
    color: #fff !important;
    box-shadow: 0 8px 4px -4px #00000033;
    z-index: 1;
  }
  header .collapse.show > .item-text {
    background-color: #ffffff;
  }
  header .all-vehicles a[aria-expanded="true"] {
    background-color: #f1f1f1 !important;
    font-weight: normal;
    color: #102b4e !important;
  }
  header .list-product,
  header .list-button {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  header .list-product {
    padding-top: 10px;
  }
  header .list-product .item-product {
    width: 20vw;
  }
  header .myButton {
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1008px) {
  .nav-left .item-text {
    padding: 0 5px;
    font-size: 13px;
  }
}

@media screen and (max-width: 991.9px) {
  .logo {
    width: 50%;
  }
  .menu {
    width: 50%;
  }
  .header-top {
    display: none;
  }
  .header-nav {
    overflow: auto;
    max-height: 100vh;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav .mobile-menu {
    position: sticky;
    top: 0;
    z-index: 15;
    background-color: #fff;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 8px 4px -4px #00000033;
    height: 70px;
  }
  .header-nav .mobile-menu button {
    height: auto;
  }
  .header-nav .ford-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0 0 0;
    background-color: #f3f3f3;
  }
  .header-nav.mobile-view .menu-icon .fa-times {
    display: none;
  }
  .header-nav.mobile-view.expanded .nav-right,
  .header-nav.mobile-view.expanded .nav-left {
    display: block;
  }
  .header-nav.mobile-view.expanded .mobile-menu {
    box-shadow: 0 8px 4px -4px #00000033;
  }
  .header-nav.mobile-view.expanded .menu-icon .fa-times {
    display: block;
  }
  .header-nav.mobile-view.expanded .menu-icon p {
    display: none;
  }
  .header-nav.mobile-view.expanded .menu-icon .fa-bars {
    display: none;
  }
  .nav-left {
    display: none;
    width: 100%;
    text-align: left;
    padding: 0;
  }
  .nav-left .vehicles {
    display: block;
  }
  .nav-left .item-text {
    position: relative;
    width: 100%;
    display: block;
    padding: 1.5rem 35px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  .nav-left .item-text::after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 35px;
    position: absolute;
    transition: all 1s;
  }
  .nav-right {
    padding: 0;
    display: none;
    width: 100%;
    text-align: left;
  }
  .nav-right .account {
    display: block;
  }
  .nav-right .dealership {
    display: block;
    display: flex;
    position: relative;
    width: 100%;
    padding: 1.5rem 35px;
    font-size: 14px;
    color: #0276b3;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  .nav-right .dealership::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 35px;
    position: absolute;
  }
  .nav-right .header-nav-submenu {
    display: block;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .nav-right .header-nav-submenu a {
    text-decoration: none;
  }
  .nav-right .header-nav-submenu .item-submenu {
    color: #102b4e;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
  }
  .nav-right .header-nav-submenu .item-submenu:hover {
    color: #2861a4;
    transition: 0.5s;
  }
  .nav-right .header-nav-submenu .item-submenu img {
    width: 50%;
  }
  .nav-right a.item-text:not(.item-link) {
    padding: 1.5rem 35px;
    position: relative;
    width: 100%;
    display: block;
    font-size: 14px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  .nav-right a.item-text:not(.item-link)::after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 35px;
    position: absolute;
    transition: all 1s;
  }
  .nav-right a.account-icon {
    display: flex !important;
  }
  a.item-text.collapsed:not(.item-link)::after {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 992px) {
  .nav-left .item-text:first-child {
    margin-left: 7px;
  }
}

.footer {
  margin-bottom: 20px;
}

.footer .container-fluid {
  padding: 0 35px;
}

.footer .content {
  position: relative;
}

.footer .footer-logo {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
}

.footer .footer-logo img {
  width: 100%;
  display: inline-block;
  width: 73px;
  height: 26px;
}

.footer .language {
  padding: 15px 0;
}

.footer .language a {
  color: #0276b3;
  font-size: 1.6rem;
}

.footer .language a span {
  padding-left: 25px;
  text-decoration: underline;
}

.footer .language a:hover {
  text-decoration: none;
}

.footer .language .ford-btnBlue {
  display: block;
  max-width: 270px;
}

.footer .language:hover a {
  color: #102b4e;
}

.footer .copyright {
  padding: 5px 0;
}

.footer .copyright a {
  color: #555;
  font-size: 1.4rem;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline-block;
  padding: 5px 0;
}

.footer ul li a {
  padding: 5px 25px;
  padding-left: 0;
  color: #555;
  font-size: 1.4rem;
}

.footer .copyright a:hover,
.footer ul li a:hover {
  text-decoration: none;
  color: #333;
}

.footer .modal .modal-dialog,
.footer .modal .modal-content {
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.footer .modal .content .content-top {
  padding-top: 15vh;
}

.footer .modal .content .content-bottom {
  text-align: center;
}

.footer .modal .content .content-bottom h2 {
  color: #fff;
  font-size: 24px;
  margin: 35px 0;
}

.footer .modal .content .content-bottom span {
  margin: 10px auto;
}

.footer .modal .content .btnClose {
  display: block;
  width: 40px;
  height: 40px;
  color: #a7a7a7;
  font-size: 40px;
  margin-left: auto;
  margin-right: 15px;
}

.footer .modal .content .btnClose:hover {
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767.9px) {
  .footer .footer-logo {
    position: relative;
  }
  .footer ul li {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .footer ul {
    width: 80%;
    max-width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .footer ul {
    max-width: 100%;
  }
  .footer ul li a {
    padding-right: 25px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
  }
}

.myCarousel {
  padding-top: 116px;
}

.myCarousel .firstSlide {
  position: relative;
}

.myCarousel .firstSlide .img-firstSlide-smallScreen {
  display: none;
}

.myCarousel .firstSlide .carousel-info {
  position: absolute;
  left: 3%;
  bottom: 5%;
}

.myCarousel .firstSlide .carousel-info span {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 10px;
}

.myCarousel .secondSlide {
  position: relative;
}

.myCarousel .secondSlide .img-secondSlide-smallScreen {
  display: none;
}

.myCarousel .secondSlide button {
  position: absolute;
  top: 35%;
  left: 4%;
  background: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 100px !important;
  text-align: center;
  text-transform: capitalize;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.myCarousel .secondSlide button:hover {
  background-color: #fff;
  color: #0276b3;
  border-color: #0276b3;
  text-decoration: none;
}

.myCarousel .carousel-control-prev,
.myCarousel .carousel-control-next {
  width: 5.5rem;
}

.myCarousel .carousel-control-prev i,
.myCarousel .carousel-control-next i {
  color: #fff;
  font-size: 42px;
  width: 50px;
  height: 70px;
  line-height: 70px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

.myCarousel .carousel-control-prev i:hover,
.myCarousel .carousel-control-next i:hover {
  background-color: #fff;
  color: #0276b3;
  border-color: #0276b3;
  text-decoration: none;
}

.myCarousel .carousel-indicators {
  padding-top: 110px;
}

.myCarousel .carousel-indicators li {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (max-width: 991.9px) {
  .myCarousel {
    padding-top: 74px;
  }
  .myCarousel .firstSlide .img-firstSlide-largeScreen {
    display: none;
  }
  .myCarousel .firstSlide .img-firstSlide-smallScreen {
    display: block;
    width: 100%;
  }
  .myCarousel .secondSlide .img-secondSlide-largeScreen {
    display: none;
  }
  .myCarousel .secondSlide .img-secondSlide-smallScreen {
    display: block;
    width: 100%;
  }
}

.somethingForEveryone {
  padding-top: 20px;
  text-align: center;
}

.somethingForEveryone h1 {
  color: #333;
  font-size: 42px;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.somethingForEveryone p {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}

.somethingForEveryone button {
  background: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 100px !important;
  text-align: center;
  text-transform: capitalize;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-top: 30px;
}

.somethingForEveryone button:hover {
  background-color: #fff;
  color: #0276b3;
  border-color: #0276b3;
  text-decoration: none;
}

.somethingForEveryone img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .somethingForEveryone h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 767.9px) {
  .somethingForEveryone h1 {
    font-size: 30px;
  }
  .somethingForEveryone p {
    font-size: 14px;
  }
}

.finishStrong {
  padding: 70px 110px;
  text-align: center;
}

.finishStrong .video {
  position: relative;
}

.finishStrong .video .play-icon {
  position: absolute;
  top: 45%;
  left: 45%;
}

.finishStrong .video .play-icon i {
  width: 100px;
  height: 100px;
  line-height: 104px;
  padding-left: 5px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 30px;
}

.finishStrong .video .play-icon i:hover {
  background-color: #0276b3;
}

.finishStrong h1 {
  color: #333;
  font-size: 42px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.finishStrong p {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 20px 200px;
}

.finishStrong img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .finishStrong p {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 992px) {
  .finishStrong {
    padding: 70px;
  }
  .finishStrong h1 {
    font-size: 36px;
  }
  .finishStrong p {
    padding: 10px;
  }
}

@media screen and (max-width: 767.9px) {
  .finishStrong {
    padding: 15px 25px;
  }
  .finishStrong h1 {
    font-size: 30px;
  }
  .finishStrong p {
    font-size: 14px;
    padding: 10px 0;
  }
}

.sweetenTheDeal {
  position: relative;
}

.sweetenTheDeal .sweeten-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.sweetenTheDeal .sweeten-smallScreen {
  display: none;
}

.sweetenTheDeal .sweeten-largeScreen {
  width: 100%;
}

.sweetenTheDeal h1 {
  color: #fff;
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 1px;
  padding-top: 30px;
}

.sweetenTheDeal p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  padding-top: 7%;
  display: flex;
  justify-content: center;
}

.sweetenTheDeal p .ford-btnCircleRightArrow-small {
  background-color: transparent;
}

.sweetenTheDeal p .ford-btnCircleRightArrow-small:hover {
  background-color: #fff;
  color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .sweetenTheDeal h1 {
    padding-top: 7px;
  }
  .sweetenTheDeal p {
    padding-top: 7%;
  }
}

@media screen and (max-width: 992px) {
  .sweetenTheDeal .sweeten-largeScreen {
    display: none;
  }
  .sweetenTheDeal .sweeten-smallScreen {
    display: block;
    width: 100%;
  }
  .sweetenTheDeal h1 {
    padding-top: 20px;
    font-size: 36px;
  }
  .sweetenTheDeal p {
    padding-top: 70%;
  }
}

@media screen and (max-width: 767.9px) {
  .sweetenTheDeal h1 {
    font-size: 30px;
  }
  .sweetenTheDeal p {
    font-size: 14px;
  }
}

.backToTop {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 50px;
  left: 100%;
  transition: all 1s;
}

.backToTop a:hover {
  text-decoration: none;
}

.backToTop a i {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #00000099;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-70px);
}

#scrollDownButton {
  position: fixed;
  z-index: 16;
  opacity: 1;
  visibility: visible;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}

#scrollDownButton a:hover {
  text-decoration: none;
}

#scrollDownButton a i {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 2px solid #ffffff80;
  background-color: #00000099;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollDownButton.hide {
  opacity: 0;
}

.whatHappening [class*="col-"] {
  padding: 0;
}

.whatHappening .row {
  margin: 0;
}

.whatHappening .contentBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.whatHappening .contentBox img {
  transition: 0.5s;
}

.whatHappening .contentBox .bottomBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(6, 120, 188, 0.9);
  padding: 3%;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
}

.whatHappening .contentBox .bottomBox [class*="col-"] {
  justify-content: center;
}

.whatHappening .contentBox .bottomBox [class*="col-"] .text,
.whatHappening .contentBox .bottomBox [class*="col-"] .icon {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.whatHappening .contentBox .bottomBox [class*="col-"] .icon {
  justify-content: flex-end;
}

.whatHappening .contentBox .bottomBox [class*="col-"] .icon [class*=ford-btnCircleRightArrow-] {
  margin: 0;
}

.whatHappening .contentBox .bottomBox .big {
  color: #fff;
  font-size: 21px;
  font-weight: normal;
}

.whatHappening .contentBox:hover img {
  transform: scale(1.1);
}

.whatHappening h2 {
  margin: 30px 0;
  color: #333;
  font-size: 2.75rem;
  font-weight: 500;
}

.whatHappening p {
  margin-top: -15px;
  color: #626466;
  font-size: 16px;
  font-weight: bold;
}

.whatHappening .navbar {
  padding: 0;
}

.whatHappening .navbar-expand-md {
  flex-flow: inherit;
}

.whatHappening img {
  width: 100%;
  display: block;
}

.whatHappening #btnWhapHappening {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  padding: 15px 0;
  background-color: #0276b3;
  border-radius: 0;
}

.whatHappening #btnWhapHappening:hover {
  cursor: pointer;
}

.whatHappening #btnWhapHappening .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 767.9px) {
  .whatHappening .contentBox .bottomBox {
    padding: 5%;
  }
  .whatHappening .contentBox .bottomBox .row {
    font-size: 1.6rem;
  }
  .whatHappening .contentBox .bottomBox .row .ford-btnCircleRightArrow-small {
    width: 40px;
    height: 40px;
  }
  .whatHappening .contentBox .bottomBox .row .ford-btnCircleRightArrow-small::after {
    font-size: 24px;
  }
}

.airbagRecalls .contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.airbagRecalls .contentBox h1 {
  color: #d92e14;
  font-size: 42px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.airbagRecalls .contentBox a {
  width: 270px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .airbagRecalls .contentBox h1 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 767.9px) {
  .airbagRecalls .contentBox h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .airbagRecalls .contentBox h1 {
    font-size: 24px;
  }
}

.disclosure {
  padding: 0;
}

.disclosure .collapsing {
  transition: 0.5s;
}

.disclosure .btnDisclosure {
  padding: 30px 20px;
  display: block;
}

.disclosure .btnDisclosure:hover {
  text-decoration: none;
}

.disclosure .btnDisclosure p {
  text-transform: uppercase;
  margin: 0;
  color: #0276b3;
  font-size: 1.4rem;
  font-weight: 300;
}

.disclosure .btnDisclosure p::after {
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  font-weight: 900;
  transition: all 0.5s;
}

.disclosure .btnDisclosure.collapsed p::after {
  transform: rotate(180deg);
}

.disclosure .disclosure__content {
  max-height: 240px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.disclosure .disclosure__content::-webkit-scrollbar {
  width: 10px;
}

.disclosure .disclosure__content::-webkit-scrollbar-track {
  background: #a7a7a7;
}

.disclosure .disclosure__content::-webkit-scrollbar-thumb {
  background: #0276b3;
}

.disclosure .disclosure__content::-webkit-scrollbar-thumb:hover {
  background: #0276b3;
}

.disclosure .disclosure__content ol.myListGroup {
  list-style-position: inside;
  margin: 0;
  padding: 40px 45px;
}

.disclosure .disclosure__content li.myListGroupItem:first-child {
  list-style-type: none;
}

.disclosure .disclosure__content li.myListGroupItem {
  text-align: justify;
}

.disclosure .disclosure__content li.myListGroupItem p {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

.disclosure .disclosure__footer {
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .disclosure .disclosure__content ol.myListGroup {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767.9px) {
  .disclosure .disclosure__content ol.myListGroup {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .disclosure .disclosure__content ol.myListGroup {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.califoniaResidents .container-fluid {
  padding: 2rem 0;
}

.califoniaResidents h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
}

.califoniaResidents p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-left: 1rem;
  margin-right: 1rem;
}

.califoniaResidents p a {
  color: #37a9e8;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .califoniaResidents h1 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 767.9px) {
  .califoniaResidents h1 {
    font-size: 30px;
  }
  .califoniaResidents p {
    font-size: 1.4rem;
  }
}

.footerNavbar {
  background: #242424;
  padding: 40px 0;
}

.footerNavbar .navbar-inverse ul li {
  list-style: none;
}

.footerNavbar .navbar-inverse .content {
  width: 95%;
  margin: 0 auto;
}

.footerNavbar .navbar-inverse .content li {
  line-height: 30px;
}

.footerNavbar .navbar-inverse .content li span {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.footerNavbar .navbar-inverse .navbar-nav span:hover {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.footerNavbar .navbar-inverse .navbar-nav .heading {
  margin-bottom: 2rem;
}

.footerNavbar .navbar-inverse .navbar-nav .heading span {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

.footerNavbar .navbar-inverse .fa-chevron-down {
  display: none;
}

@media screen and (max-width: 992px) {
  .footerNavbar .content .list_item {
    display: none;
  }
  .footerNavbar .content .fa-chevron-down {
    display: inline-block;
  }
}

@media (max-width: 767.9px) {
  .footerNavbar {
    padding: 15px 0;
  }
  .footerNavbar .shop {
    padding-top: 15px;
  }
  .footerNavbar .heading:not(.first-heading) .text::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 35px;
    position: absolute;
    transition: all 1s;
  }
  .footerNavbar .heading {
    position: relative;
    padding-bottom: 15px;
  }
  .footerNavbar .heading::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #a7a7a7;
    opacity: 0.5;
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footerNavbar .right .list {
    padding-left: 20%;
    padding-right: 20%;
  }
  .footerNavbar .right .heading {
    position: relative;
    padding-bottom: 15px;
  }
  .footerNavbar .right .heading .text::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 20%;
    position: absolute;
    transition: all 1s;
  }
  .footerNavbar .right .heading::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #a7a7a7;
    opacity: 0.5;
    bottom: 0;
  }
}

.search {
  background-color: #333;
  padding: 30px 0;
}

.search .row {
  width: 100%;
  margin: 0 auto;
}

.search .search_content {
  width: 95%;
  margin: 0 auto;
}

.search .search_content .search_left {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.search .search_content .search_left span:last-child {
  padding: 0 10px;
}

.search .search_content .search_right {
  color: #a7a7a7;
  font-size: 15px;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search .search_content .search_right span {
  padding-right: 15px;
}

.search .search_content .search_right span.active {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 767.9px) {
  .search .search_content .search_right {
    justify-content: flex-start;
  }
  .search .search_content .search_left {
    display: none;
  }
}

.contact {
  background-color: #102b4e;
  padding: 30px 0;
}

.contact .row {
  width: 100%;
  margin: 0 auto;
}

.contact .contact_content {
  width: 100%;
  margin: 0 auto;
}

.contact .contact_content .contact_left .contact_item .icon {
  color: #fff;
}

.contact .contact_content .contact_left .contact_item .icon i {
  padding: 12px;
  background-color: rgba(6, 120, 188, 0.9);
  font-size: 2rem;
  border-radius: 50%;
}

.contact .contact_content .contact_left .contact_item .text {
  color: #37a9e8;
  font-size: 20px;
  font-weight: 300;
  padding: 0 15px;
}

.contact .contact_content .contact_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.contact .contact_content .contact_right .text {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin-right: 4rem;
}

.contact .contact_content .contact_right .social_content {
  justify-content: flex-end;
}

.contact .contact_content .contact_right .social_content .social_text {
  line-height: 3.4rem;
  text-align: right;
}

.contact .contact_content .contact_right .social_content i {
  height: 37px;
  width: 32px;
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
  text-align: center;
  line-height: 3.4rem;
}

.contact .contact_content .contact_right .social_content .social {
  display: flex;
  justify-content: flex-end;
}

.contact .contact_content .contact_right .social_content .social span {
  margin-right: 5px;
}

.contact .contact_content .contact_right .social_content .social .fa-facebook-f {
  background-color: #3c5b99;
}

.contact .contact_content .contact_right .social_content .social .fa-twitter {
  background-color: #1da2f3;
}

.contact .contact_content .contact_right .social_content .social .fa-youtube {
  background-color: #ff0100;
}

.contact .contact_content .contact_right .social_content .social .fa-instagram {
  background-color: #dc2c75;
}

@media screen and (max-width: 1200px) {
  .contact .contact_right .social_text {
    text-align: right;
    line-height: 10px;
  }
  .contact .contact_right .social {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1013px) {
  .contact .contact_left .row {
    display: block;
  }
  .contact .contact_left .row .contact_item {
    max-width: 100%;
    padding: 15px 15px;
  }
  .contact .contact_left .row .right_it {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .contact {
    padding: 20px 0;
  }
  .contact .contact_left {
    padding-left: 30px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .contact .contact_left .row {
    display: flex;
  }
  .contact .contact_left .row .contact_item {
    max-width: 33.333%;
    padding: 0;
  }
  .contact .contact_left .row .left_it {
    max-width: 100%;
  }
  .contact .contact_left .row .right_it {
    display: none;
  }
  .contact .contact_right {
    width: 50%;
  }
}

@media screen and (max-width: 767.9px) {
  .contact .contact_left .left_it {
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 20px !important;
  }
  .contact .contact_left .contact_item {
    padding-bottom: 30px;
  }
  .contact .contact_left .contact_item .text {
    color: #37a9e8;
    font-size: 16px !important;
    font-weight: 300;
  }
  .contact .contact_left .contact_item .icon i {
    font-size: 1.4rem !important;
  }
  .contact .contact_right {
    padding-top: 15px;
  }
  .contact .contact_right .social_text {
    text-align: left !important;
  }
  .contact .contact_right .social {
    justify-content: flex-start !important;
  }
}
/*# sourceMappingURL=main.css.map */