.backToTop {
  position: fixed;

  opacity: 0;
  visibility: hidden;
  bottom: 50px;
  left: 100%;
  // transition: opacity 10s linear, visibility 0s linear 10s;

  a {
    &:hover {
      text-decoration: none;
    }
    i {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: #00000099;
      @include styleText($color-white, $fs-4, $fw-3);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.backToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-70px);
  transition: all 1s;
}
