.myCarousel {
    padding-top: 116px;
    .firstSlide {
        .img-firstSlide-smallScreen {
            display: none;
        }
        position: relative;
        .carousel-info {
            position: absolute;
            left: 3%;
            bottom: 5%;
            span {
                @include styleText($color-white, $fs-1, $fw-0);
                letter-spacing: 1px;
                padding: 10px;
            }
            // h1 {
            //     @include styleText($color-white, $fs-9, $fw-0);
            //     padding: 30px 40px;
            //     letter-spacing: 1px;
            // }
            // p {
            //     @include styleText($color-white, $fs-5, $fw-0);
            //     padding: 0 40px;
            //     display: flex;
            // }
            // .ford-btnCircleRightArrow-small {
            //     background-color: transparent;
            //     &:hover {
            //         @include styleButtonHover($color-white, transparent, null);
            //     }
            // }
        }
    }
    .secondSlide {
        .img-secondSlide-smallScreen {
            display: none;
        }
        position: relative;
        button {
            position: absolute;
            top: 35%;
            left: 4%;
            @include styleButton($color-blue-1, $color-blue-1, $pd-5, 100px, null);
            @include styleText($color-white, $fs-4, $fw-0);

            &:hover {
                @include styleButtonHover($color-white, $color-blue-1, $color-blue-1);
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 5.5rem;
        i {
            @include styleText($color-white, $fs-9, null);
            width: 50px;
            height: 70px;
            line-height: 70px;
            border: 1px solid transparent;
            background-color: rgba(0, 0, 0, 0.6);
            &:hover {
                @include styleButtonHover($color-white, $color-blue-1, $color-blue-1);
            }
        }
    }

    .carousel-indicators {
        padding-top: 110px;

        li {
            height: 10px;
            width: 10px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
        }
    }
}
//RESPONSIVE
@media screen and (max-width: 991.9px) {
    .myCarousel {
        padding-top: 74px;
        .firstSlide {
            .img-firstSlide-largeScreen {
                display: none;
            }
            .img-firstSlide-smallScreen {
                display: block;
                width: 100%;
            }
        }
        .secondSlide {
            .img-secondSlide-largeScreen {
                display: none;
            }
            .img-secondSlide-smallScreen {
                display: block;
                width: 100%;
            }
        }
    }
    
}
