// $modal-fade-transform: scale(5);
.footer {
  padding: $pd-11 0;
  .container-fluid {
    padding: 0 35px;
  }
  .content {
    position: relative;
  }
  .footer-logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;

    img {
      width: 100%;
      display: inline-block;
      width: 73px;
      height: 26px;
    }
  }

  .language {
    padding: $pd-5 0;
    a {
      @include styleText($color-blue-1, $fs-14, null);
      span {
        padding-left: $pd-7;
        text-decoration: underline;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .ford-btnBlue {
      display: block;
      max-width: 270px;
    }

    &:hover {
      a{
        color:$color-blue-4;
      }
    }
  }

  .copyright {
    padding: $pd-3 0;
    a {
      @include styleText($color-gray-4, $fs-17, null);
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: $pd-3 0;

      a {
        padding: $pd-3 25px;
        padding-left: 0;
        @include styleText($color-gray-4, $fs-17, null);
      }
    }
  }

  .copyright a,
  ul li a {
    &:hover {
      text-decoration: none;
      color: $color-gray-1;
    }
  }

  .modal {
    .modal-dialog,
    .modal-content {
      width: 100%;
      height: 100%;
      background-color: #00000080;
    }


    .content {
      
      .content-top {
        padding-top: 15vh;
      }

      .content-bottom {
        h2 {
          @include styleText($color-white, $fs-7, null);
          margin: $dimension-1 0;
        }

        span {
          margin: $margin-1 auto;
        }

        text-align: center;
      }

      .btnClose {
        display: block;
        width: $dimension-2;
        height: $dimension-2;
        @include styleText($color-gray-3, $dimension-2, null);
        margin-left: auto;
        margin-right: $margin-2;

        &:hover{
          color: $color-white;
          cursor: pointer;
        }
      }
    }
  }
}

@include responsive("medium") {
  .footer {
    .footer-logo {
      position: relative;
    }

    ul {
      li {
        display: block;
      }
    }
  }
}

@include responsive("large") {
  .footer {
    ul {
      width: 80%;
      max-width: 500px;
    }
  }
}

@include responsive("extra-large") {
  .footer {
    ul {
      max-width: 100%;

      li a {
        padding-right: $pd-7;
      }
    }
  }
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
}
}

