header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-top {
    display: flex;
    background-color: #f3f3f3;
    padding: 0 35px;
    a {
        text-decoration: none;
    }
}
.header-left {
    display: flex;
    align-items: center;
    .item-text {
        @include styleText($color-blue-4, $fs-1, $fw-1);
        padding: 0 $pd-4;
        &:hover {
            @include styleTextHover($color-blue-2);
        }
    }
    img {
        width: 50px;
        padding-bottom: $pd-3;
    }
    .ford-use {
        border-left: 1px solid $color-gray-3;
    }
    .bronco{
        display: flex;
        align-items: center;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .item-text {
        @include styleText($color-blue-2, $fs-3, $fw-1);
        padding: 0 $pd-4;
    }
    img {
        width: 25px;
    }
}
.header-nav {
    display: flex;
    padding: $pd-6 35px;
    background-color: white;
    a {
        text-decoration: none;
    }
}
.nav-left {
    display: flex;
    align-items: center;
    .item-text {
        @include styleText($color-blue-1, $fs-3, $fw-1);
        padding: 0 $pd-4;
        &:hover {
            @include styleTextHover($color-blue-4);
        }
    }
}
.logo img {
    width: 125px;
    padding: 0 $pd-8 $pd-3 0;
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    .item-text {
        @include styleText($color-blue-1, $fs-1, $fw-1);
        padding: 0 $pd-4;
        &:hover {
            @include styleTextHover($color-blue-4);
        }
    }
    .account{
        display: flex;
        align-items: center;
    }
    img {
        width: 25px;
    }
}
.menu {
    text-align: right;
    .menu-icon {
        text-align: right;
        i {
            @include styleText($color-blue-4, $fs-8, null);
        }
        p {
            @include styleText($color-gray-1, $fs-1, null);
        }
        border: none;
        background-color: white;
    }
}

//RESPONSIVE
@include responsive("extra-large") {
    .header-nav {
        .account {
            display: none;
        }
    }
    .nav-left {
        .item-text {
            padding: 0 $pd-3;
        }
        img {
            padding: 0 $pd-7 $pd-3 0;
        }
    }
}
@include responsive("large") {
    .logo{
        width: 50%;
    }
    .header-top {
        display: none;
    }
    .header-nav {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav-left {
        display: none;
        width: 100%;
        text-align: left;
        .item-text {
            position: relative;
            width: 100%;
            display: block;
            padding: 1rem 0;

            &::after {
                content: "\f078";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                right: 0;
                position: absolute;
            }
        }
    }
    .menu {
        width: 50%;

        .menu-icon{
            .fa-times{
                display: none;
            }
            &.expanded{
                .fa-times{
                    display: block;
                }
                p{
                    display: none;
                }
                .fa-bars{
                    display: none;
                }
            }
        }
    }
    .nav-right {
        display: none;
        width: 100%;
        text-align: left;
        .item-text {
            position: relative;
            width: 100%;
            display: block;
            padding: 1rem 0;

            &::after {
                content: "\f078";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                right: 0;
                position: absolute;
            }
        }
    }
}
