@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleTextHover($color){
    color: $color;
    transition: .5s;
}

@mixin styleButton($bg-color, $border-color, $pd-y, $pd-x, $border-radius) {
    background: $bg-color;
    border: 1px solid $border-color;
    padding: $pd-y $pd-x !important;
    border-radius: $border-radius;
    text-align: center;
    transition: .5s;
}

@mixin styleButtonHover($bg-color, $color, $border-color) {
    background-color: $bg-color;
    color: $color;
    border-color: $border-color;
    text-decoration: none;
}

@mixin styleCircle($border-width, $border-color, $bg-color, $size) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: $border-width solid $border-color;
    background: $bg-color;
    width: $size;
    height: $size;
    border-radius: 50%;
    &:hover{
        background-color: $border-color;
    }
    &:hover::after{
        color: $color-bg-5;
    }
}

//responsive
@mixin responsive($screen) {
    @if(map-has-key($map:$breakpoints, $key:$screen)) {
        //hợp lệ
        $value: map-get($map:$breakpoints, $key:$screen);

        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else {
        @warn "man hinh khong ton tại";
    }
}