* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer,
section,
aside,
nav,
main,
article,
figure {
  display: block;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857143;
  background-color: $color-white;
  max-width: 1440px;
  margin: 0 auto;
  @include styleText($color-gray-1, $fs-19, $fw-0);
}
